
body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
.loader{
    
    background-color: #303f9e;
    height:100vh;
}
#loader{
    width: 50%;
    margin-top: 10%;
}
@media screen and (max-width:700px){
    #loader{
        width: 80%;
        margin-top: 20%;
    }  
}
#header-image{
    margin-top: 3%;
    width: 91vw;
}

.about{
    font-size: small;
}
#about-image-1{
    width:40vw;
}
#about-image-2{
    /* margin-left: 30%; */
    margin-right: 2%;
    width:40vw;    
}

.card-1 {
    /* margin: 34% 0 0 10%; */
    box-shadow: 0 14px 28px rgba(172, 125, 239, 0.51), 0 10px 10px rgb(180, 164, 203);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  
  .card-1:hover {
    box-shadow: 0 19px 38px rgba(87, 82, 82, 0.3), 0 15px 12px rgba(104, 98, 98, 0.22);
  }

  .card-2 {
    /* margin: 19% 0 0 10%; */
    box-shadow: 0 14px 28px rgba(172, 125, 239, 0.51), 0 10px 10px rgb(180, 164, 203);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  
  .card-2:hover {
    box-shadow: 0 19px 38px rgba(87, 82, 82, 0.3), 0 15px 12px rgba(104, 98, 98, 0.22);
  }
  
#footer-image{
    margin-top: -1px;
    margin-bottom: -1px;
    margin-left: 20px;
    width: 50vw;
}